<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>ADD PRODUCT DETAILS | iMALL</title>
      <link rel="stylesheet" href="../static/css/addstyle.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
       <div class="header">
        <div class="header_txt">
        iMALL
        </div>
       </div>
      <div class="content1">
         <div class="text">
            ADD PRODUCT DETAILS
         </div>
         <form action="/addproduct" method="post" enctype="multipart/form-data">
            <div class="field">
                <input type="text" name="name" required>
                <!-- <span class="fas fa-user"></span> -->
                <label>Name</label>
             </div>
            <div class="field">
               <input type="text" name="desc" required>
               <!-- <span class="fas fa-envelope"></span> -->
               <label>Description</label>
            </div>
            <div class="field">
                <input type="text" name="stock" required>
                <!-- <span class="fas fa-phone"></span> -->
                <label>stock</label>
             </div>
            <div class="field">
               <input type="text" name="price" required>
               <!-- <span class="fas fa-lock"></span> -->
               <label>Price</label>
            </div>
            <div class="field">
                <input type="file" name="file" required>
             </div>
            <button class="reg">Add Product</button>
         </form>
      </div>
      <div class="footer">
        created by iMALL
      </div>
   </body>
</html>