<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>ADMIN | iMALL</title>
      <link rel="stylesheet" href="../static/css/adashstyle.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <div class="menu-icon">
            <span class="fas fa-bars"></span>
         </div>
         <div class="logo">
          <a href="/"> iMALL </a> 
         </div>
         <h3>ADMIN DASHBOARD</h3>
         <div class="profile">
            <i class="fas fa-user"></i>
         </div>
      </nav>
      <body>
         <div class="container">
            <div class="wrapper">
               <div class="img-area">
                 <div class="inner-area">
                   <img src="../static/images/profile.jpeg " alt="">
                 </div>
               </div>
               <div class="name">{{ val[1] }}</div>
               <div class="about">{{ val[2] }}</div>
               <div class="Phone">{{ val[5] }}</div>
               <div class="buttons">
                  <a href="/adminor">
                  <button><i class="fas fa-shopping-cart"></i>
                     <span>VIEW ORDERS</span></button></a>
                     <a href="/adminmp">
                 <button>
                   <i class="icon-2 fas fa-heart"></i>
                   <span>MANAGE PRODUCTS</span></button>
                  </a>
               </div>
               </div>
           <!-- Add more product cards here -->
         </div>
       </body>
      <script>
         const menuBtn = document.querySelector(".menu-icon span");
         const searchBtn = document.querySelector(".search-icon");
         const cancelBtn = document.querySelector(".cancel-icon");
         const items = document.querySelector(".nav-items");
         const form = document.querySelector("form");
         menuBtn.onclick = ()=>{
           items.classList.add("active");
           menuBtn.classList.add("hide");
           searchBtn.classList.add("hide");
           cancelBtn.classList.add("show");
         }
         cancelBtn.onclick = ()=>{
           items.classList.remove("active");
           menuBtn.classList.remove("hide");
           searchBtn.classList.remove("hide");
           cancelBtn.classList.remove("show");
           form.classList.remove("active");
           cancelBtn.style.color = "#ff3d00";
         }
         searchBtn.onclick = ()=>{
           form.classList.add("active");
           searchBtn.classList.add("hide");
           cancelBtn.classList.add("show");
         }
      </script>
   </body>
</html>