<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Manage Product | iMALL</title>
      <link rel="stylesheet" href="../static/css/adashstyle.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <div class="menu-icon">
            <span class="fas fa-bars"></span>
         </div>
         <div class="logo">
           <a href="/admindash"> iMALL </a>
         </div>
         <H3>ADMIN DASHBOARD-MANAGE PRODUCTS</H3>
         <div class="profile">
            <i class="fas fa-user"></i>
         </div>
      </nav>
      <body>
         <h1 class="mp"></h1>
         <div class="container">
            <table class="neumorphic">
         <thead>
           <tr>
               <TH>id</TH>
               <TH>Name</TH>
               <TH>Description</TH>
               <TH>Price</TH>
               <TH>Stock</TH>
               <TH>Image</TH>
               <TH></TH>
           </tr>
            </thead>
            {%for product in val%}
            <tbody>
            <TR>
               <TD>{{product[0]}}</TD>
               <TD>{{product[1]}}</TD>
               <TD>{{product[2]}}</TD>
               <TD>{{product[3]}}&#8377;</TD>
               <TD>{{product[4]}}</TD>
               <TD><img src="../static/images/{{product[5]}}"></TD>
               <TD><a href="/deleteproduct?p_id={{ product[0] }}"><i class="fas fa-times"></i></a></TD>
            </TR>
            
            {%endfor%}
            <TR>
               <td colspan="4"></td>
               <td colspan="3"></td>
            </TR>
            <TR>
               <td colspan="7"><a href="/add"><button>ADD PRODUCT</button></a></td>
            </TR>
            </tbody>
         </TABLE>

       </body>
      <script>
         const menuBtn = document.querySelector(".menu-icon span");
         const searchBtn = document.querySelector(".search-icon");
         const cancelBtn = document.querySelector(".cancel-icon");
         const items = document.querySelector(".nav-items");
         const form = document.querySelector("form");
         menuBtn.onclick = ()=>{
           items.classList.add("active");
           menuBtn.classList.add("hide");
           searchBtn.classList.add("hide");
           cancelBtn.classList.add("show");
         }
         cancelBtn.onclick = ()=>{
           items.classList.remove("active");
           menuBtn.classList.remove("hide");
           searchBtn.classList.remove("hide");
           cancelBtn.classList.remove("show");
           form.classList.remove("active");
           cancelBtn.style.color = "#ff3d00";
         }
         searchBtn.onclick = ()=>{
           form.classList.add("active");
           searchBtn.classList.add("hide");
           cancelBtn.classList.add("show");
         }
      </script>
   </body>
</html>