<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>iMall | Order Now</title>
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
       <div class="header">
        <div class="header_txt">
        iMALL
        </div>
       </div>
      <div class="content1">
         <div class="text">
            CHECK OUT
         </div>
         <div class="user">
            Hi {{us[1]}}<br>
            <icon class="fas fa-phone"></icon> {{us[5]}} <br>
         </div>
         <form action="/addtoorder" method="post">
            <div class="field">
               <input type="text" name="house" required>
               <span class="fas fa-home"></span>
               <label>House Name/Number</label>
            </div>
            <div class="field">
                <input type="text" name="street" required>
                <span class="fas fa-map-marker-alt"></span>
                <label>Street</label>
             </div>
             <div class="field">
               <input type="text" name="area" required>
               <span class="fas fa-street-view"></span>
               <label>Area</label>
            </div>
            <div class="user1">
            Cart Total {{tot}} &#8377;
            </div>
            <button class="reg">Order Now<i class="fas fa-shopping-cart"></i></button>
         </form>
      </div>
      <div class="footer">
        created by ADARSH C V
      </div>
   </body>
</html>